.App {
  text-align: center;
}

div {
  padding: 20px;
}

.myStyle1, .h2, .h1 {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  /* text-align: center; */
  border-right: 5px solid green;
}
.myStyle1{
  border-right: none;
}
.h1 {
  border-right: none;
}
.h2{
  border-left: 5px solid green;
}
